langgraph 
langgraph-sdk 
langgraph-checkpoint-sqlite 
langsmith 
langchain-community 
langchain-core 
langchain-openai 
notebook 
tavily-python 
wikipedia 
langchain-aws  
langchain-cli 
langserve 
pydantic>=2,<3 
poetry 


